body {
    background-color: rgb(224, 180, 143);
}

header {
    color: #f37eb9;
    font-size: 40px;
    font-weight: 600;
    font-family: cursive;
    text-align: center;
    text-shadow: 2px 2px 2px #9c3e6dbe;
    background-color: #f8f6f6;
    padding: 6px;
    background-size: cover;
    padding: 17px;
    border: #aa736a solid 2px;
    border-radius:6px;
    margin: 50px;
}
nav{
    margin: 45px;
}
a {
    margin: 5px;
    padding: 15px;
    color: #f37eb9;
    font-size: 23px;
    font-family: cursive;
    text-shadow: 0 0 1.5px #f37eb9;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #f8f6f6;
}

.habilidades{
    margin: 12px;
    padding: 2px;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #f8f6f6;
}

.habilidad1{
    width: 600px;
    margin: 12px;
    padding: 2px;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #d0e5f7;
}

.habilidad2{
    width: 600px;
    margin: 12px;
    padding: 2px;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #dfd0f7;
}

.habilidad3{
    margin: 12px;
    padding: 2px;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #f8cff2;
}

.habilidad4{
    margin: 12px;
    padding: 2px;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #f8e8cf;
}

.habilidad5{
    margin: 12px;
    padding: 2px;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #d6f8cf;
}

h2 {
    padding: 15px;
    color: #f37eb9;
    font-size: 23px;
    font-family: cursive;
    text-shadow: 0 0 1.5px #f37eb9;
}

.texto1{
    margin-left: 20px;
    color: #55a7f3;
    font-size: 20px;
}
.textoGeneral{
    margin-left: 26px;
    padding: 10px;
    color: #aa736a;
    font-size: 18px;
}

img {
    padding: 20px;
}

.contenedor-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

li{
    list-style: circle;
}

.aparte {margin: 5px;
    padding: 15px;
    color: #55a7f3;
    font-size: 23px;
    font-family: cursive;
    text-shadow: 0 0 1.5px #55a7f3;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #f8f6f6;
}

.piedepagina{
    padding: 20px;
    text-align: justify;
    font-size: 17px;
    color: #fffef3;
    margin-top: 10px;
}

.imgBordes{
    border-radius: 20%;
    padding: 2px;
    border: #aa736a solid 2px;
    display: block;
    margin:auto
}