body {
    background-color: rgb(224, 180, 143);
}

header {
    color: #f37eb9;
    font-size: 40px;
    font-weight: 600;
    font-family: cursive;
    text-align: center;
    text-shadow: 2px 2px 2px #9c3e6dbe;
    background-color: #f8f6f6;
    padding: 6px;
    background-size: cover;
    padding: 17px;
    border: #aa736a solid 2px;
    border-radius:6px;
    margin: 50px;
}
nav{
    margin: 45px;
}
a {
    margin: 5px;
    padding: 15px;
    color: #f37eb9;
    font-size: 23px;
    font-family: cursive;
    text-shadow: 0 0 1.5px #f37eb9;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #f8f6f6;
}

.articulo{
    margin: 12px;
    padding: 2px;
    border: #aa736a solid 2px;
    border-radius:6px;
    background-color: #f8f6f6;
}

h2 {
    padding: 15px;
    color: #f37eb9;
    font-size: 23px;
    font-family: cursive;
    text-shadow: 0 0 1.5px #f37eb9;
}

.texto1{
    margin-left: 20px;
    color: rgb(85, 167, 243);
    font-size: 18px;
}

.texto2{
    margin-left: 20px;
    color: rgb(91, 207, 67);
    font-size: 18px;
}

.piedepagina{
    text-align: justify;
    font-size: 17px;
    color: #fffef3;
    margin-top: 10px;
}